TURN refresh interval

The TURN refresh interval is defined in agent.h as 9 minutes, while RFC 8445 8.3.11 recommends 15 seconds.
I noticed that with certain firewalls, the lack of TURN refresh messages causes the NAT binding to be dropped, which in turn causes the TURN server to reject the data packets.
In my tests, a value of 15 seconds fixes the problem.


Thank you for reporting. You are right, there is indeed an issue and it's actually trickier than that:

[RFC 8445 11. Keepalives](https://datatracker.ietf.org/doc/html/rfc8445#section-11) defines keepalives for candidate pairs, i.e. between peers. libjuice sends them every 15 seconds as recommended, and sends them also through the TURN relay if selected.

[RFC 8656 8. Refreshing an Allocation](https://datatracker.ietf.org/doc/html/rfc8656#section-8) recommends refreshing a TURN allocation 1 minute before it expires, i.e. in libjuice's case after 9 minutes (the lifetime is 10 minutes).

However, this is indeed a problem with NATs which have short UDP timeouts. RFC 8856 actually acknowledges it in [23. IAB Considerations](https://datatracker.ietf.org/doc/html/rfc8656#section-23):
> TURN is "brittle" in that it requires the NAT bindings between the client and the server to be maintained unchanged for the lifetime of the allocation.  This is typically done using keepalives.  If this is not done, then the client will lose its
allocation and can no longer exchange data with its peers.

I think that refreshing the NAT with STUN keepalives every 15 seconds while still refreshing the TURN allocation only after 9 minutes as recommended makes more sense as re-authenticating every few seconds seems rather resource-intensive.



This should be fixed by https://github.com/paullouisageneau/libjuice/pull/150

Actually, thinking about it, it shouldn't be necessary to send additional keepalives because if the TURN relay is selected, both peers should send keepalives (typically every 15 seconds) through the relay, which will keep the NAT mapping alive.

Could you please give more information about your setup? 

In this particular case, the time between sending out local candidates and receiving the remote candidates can be as long as 2 minutes.  So, during that time, it's necessary to keep the NAT binding intact until the actual candidate is selected.

OK, I think a decent solution to this edge case is to refresh the TURN allocation every 15 seconds before remote candidates are received, and then refresh it every 9 minutes as recommended since keepalives will be sent through the relay.

This should be fixed by https://github.com/paullouisageneau/libjuice/pull/151